.card {
  margin: 0 auto;
  width: 40em;
  border: solid .05em #999;
  border-radius: 1em;
  box-shadow: inset -12px -8px 40px #fff;
  margin-bottom: 1em;
  padding: 1.2em;
}

.card img {
  width: 180px;
  max-width: 100%;
  border-radius: .1em;
}

.card button {
  margin: 0 auto;
  display: block;
}

.card span {
  text-align: center;
}
